# Default ignored files
/../../untitled1/.idea/shelf/
/../../untitled1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../untitled1/.idea/httpRequests/
# Datasource local storage ignored files
/../../untitled1/.idea/dataSources/
/../../untitled1/.idea/dataSources.local.xml
